<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Automation Suite" parallel ="false">
<listeners>
    <listener class-name="com.orangehrm.listeners.TestListener"/>
</listeners>
  <test name="Smoke Tests">
	  <groups>
		  <run>
		  		<include name="smoke"></include>
		  </run>
	  </groups>
	  <classes>
	  <class name="com.orangehrm.tests.LoginTest"/>
	  <class name="com.orangehrm.tests.DashboardTest"/>
	  </classes>
  </test>
  
  <test name="Regression Tests">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.orangehrm.tests"/>
        </classes>
    </test>
</suite>
